@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ry2x9f');
  src:  url('fonts/icomoon.eot?ry2x9f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ry2x9f') format('truetype'),
    url('fonts/icomoon.woff?ry2x9f') format('woff'),
    url('fonts/icomoon.svg?ry2x9f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-size:15px;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  display:inline-block;
  text-rendering: auto;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin:0;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snooker:before {
  content: "\e900";
}
