@charset "UTF-8";
#mainContent{
  padding:62px 0 0 0;
}
#search{
	display: flex;
	width:450px;
}
#searchInput{
	margin: 0 3% 0 0;
	width:80%;
}
#searchBt{
	margin:0 0 0 0 ;
}
#pinMenuR{ 
	position: fixed;
  bottom:50px;
  right:50px;
  border-radius : 30px;
  z-index: 1; 
  background: transparent;
  border-color:transparent;
}
#pinMenuL{ 
	position: fixed;
  bottom:50px;
  right:50px;
  border-radius : 30px;
  z-index: 1; 
  background: transparent;
  border-color:transparent;
}
#pinSelect{
	color:black;
}
@media (width: 573px){
	#searchInput{
		margin: 2% 2% 2% 0;
	}
}

.id-text-center{
	text-align:center;
}
#baccol{
	background-color: #343a40;
} 
.col-form-label{
	color:white;
}
.modal-title{
	color:white;
}
.pt-5{
	padding:0px; 
}
.custom-menu{
	z-index:5;
}
#hiddenMenu{
	position: fixed;
  	bottom:50px;
  	right:130px;
  	z-index:2;
  	height:74px;
  	width:300px;
}
#toggleUl{
	position: fixed;
  	bottom:50px;
  	right:130px;
  	z-index:2;
  	height:74px;
  	width:0px;
}
#toggleLi{
	padding:10px;
	width:30%;
	height:74px;
}
#toggleBt{
	width:100%;
	height:100%;
}
#hiddenSearch{
	margin: 3% 3% 3% 3%;
	padding:1.5% 1% 1.5% 1%;
	background-color: #808080;
	border-radius:5px;
}
#goBack{
	margin: 2% 2% 2% 2%;
}
#startLo{
	width:100%;
	margin: 1% 1% 1% 0;
	border-radius: 5px;
}
#endLo{
	width:100%;
	margin: 1% 1% 1% 0;
	border-radius: 5px;
}
#locationForSE{
	margin-top: 5%;
	background-color: white;
	width:230px;
	height: 300px;
	border-radius: 5px;
}
#find{
	margin: 3% 0 0 0;
}
#findIdPwd{
	color:rgb(48, 214, 219);
	text-decoration:underline;
}
#findIdPwd:hover{
	cursor:pointer;
}