@charset "UTF-8";
.overlayboxinput {position: relative;width: 300px;height: 100%;padding: 15px 10px;background-color: #FFFFFF;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);}
.overlayboxinput div, ul {/* overflow: hidden; */margin: 0;padding: 0;}
.overlayboxinput li {list-style: none;}
.overlayboxinput .placeName {color: #000;font-size: 16px;font-weight: bold;margin-bottom: 8px;}
.overlayboxinput .first {position: relative;width: 277px;height: 100%;margin-bottom: 8px;margin-right: 0px;}
.first .text {color: #000;font-weight: bold;}
.first .placeContext {position: absolute;width: 100%;bottom: 0;background: rgba(0, 0, 0, 0.4);padding: 7px 15px;font-size: 14px;}
/* .overlayboxinput ul {width: 230px;}
.overlayboxinput li {position: relative;margin-bottom: 2px;background: #2b2d36;padding: 5px 10px;color: #aaabaf;line-height: 1;}
.overlayboxinput li span {display: inline-block;}
.overlayboxinput li .title {font-size: 13px;}
.overlayboxinput li .up {background-position: 0 -40px;}
.overlayboxinput li .down {background-position: 0 -60px;}
.overlayboxinput li .count {position: absolute;right: 15px;font-size: 15px;}
.overlayboxinput li:hover {color: #000;background: #d24545;}
.overlayboxinput li:hover .up {background-position: 0 0px;}
.overlayboxinput li:hover .down {background-position: 0 -20px;}
 */
#inputtitle{
	padding: 3% 3% 3% 3%;
	border-radius:5px;
	width:100%;
	border:1px solid rgba(0,0,0,.3);
}

#inputcontent{
	padding: 3% 3% 3% 3%;
	border-radius:5px;
	width:100%;
	height:150px;
}
#imgDiv {
	height: 200px;
}
#imgAttach{
	opacity:0.0;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	float:left;
	width:277px;
	height:150px;
	border-radius:5px;
}
#LoadImg{
	position:relative;
}
.filebox{
	position:relative;
}
#catBt{
	background:transparent;
	border:none;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
	border-radius:5px;
	width:100%;
}
#catBt:hover{
	background: rgba(0,0,0,.1);
}
#catBtup{
	background:transparent;
	border:none;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
	border-radius:5px;
	width:100%;
}
#catBtup:hover{
	background: rgba(0,0,0,.1);
}
.categoryList{
	list-style:none;
	width:280px;
	margin:0 0 1% 0; 
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
	border-radius:5px;
	display:none;
	margin-left: auto;
 	margin-right: auto;
 	font-size:0;
 	text-align: center;
}
.categoryList li{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	padding:1% 1% 1% 1%;
	font-size:15px;
}
.smallCatBt{
	border: none;
	border-radius:10px;
	background:transparent;
	text-align:top;
	vertical-align:middle;
}
.smallCatBt:focus{
	outline:none;
}
.smallCatBt.active{
	background:#007bff;
	color:white;
	outline: none;
}
.locationList{
	font-size:0;
	padding:2% 0 2% 0;
	display:none;
}
.locationList li{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	font-size:15px;
}
#location.location{
	width:100%;
}
#location-hospital{
	width:20%;
}
#location-building{
	width:20%;
}
#location-conv{
	width:20%;
}
#location-sleep{
	width:20%;
}
#location-store{
	width:20%;
}
#public.public{
	width:100%;
}
#public-restroom{
	width:33%;
}
#public-parking{
	width:33%;
}
#public-smoking{
	width:33%;
}
.publicList{
	font-size:0;
	padding:2% 0 2% 0;
	display:none;
}
.publicList li{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	font-size:15px;
}
#food.food{
	width:100%;
}
#food-cafe{
	width:20%;
}
#food-drink{
	width:20%;
}
#food-road{
	width:20%;
}
#food-common{
	width:20%;
}
#food-snack{
	width:20%;
}
.foodList{
	font-size:0;
	padding:2% 0 2% 0;
	display:none;
}
.foodList li{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	font-size:15px;
}
#ent.ent{
	width:100%;
}
#ent-book{
	width:25%;
}
#ent-sing{
	width:25%;
}
#ent-pc{
	width:25%;
}
#ent-shopping{
	width:25%;
}
.entertainList{
	font-size:0;
	padding:2% 0 2% 0;
	display:none;
}
.entertainList li{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	font-size:15px;
}
#sports.sports{
	width:100%;
}
#sports-health{
	width:20%;
}
#sports-soccer{
	width:20%;
}
#sports-billiards{
	width:20%;
}
#sports-bowling{
	width:20%;
}
#sports-basketball{
	width:20%;
}
.sportList{
	font-size:0;
	padding:2% 0 2% 0;
	display:none;
}
.sportList li{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	font-size:15px;
}
#defaultList{
	width:100%;
}
#default{
	transition:all 0.5s 0s;
}
#default.blackCol{
	color:black;
}
.roundBlueBt{
	width:80%;
	border:0;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
	border-radius:5px;
	background-color:#007bff;
	color:white;
}
.roundBlueBt:focus{
	outline:none;
}
.icon-snooker:before {
  content: "\e900";
}
.fab, .far {
	    font-weight: 900;
}