@charset "UTF-8";
.overlayboxoutput {position: relative;width: 420px;height: 100%;padding: 15px 10px;background-color: #FFFFFF;border-radius:5px;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);color:#000;}
.overlayboxoutput div, ul {/* overflow: hidden; */margin: 0;padding: 0;list-style: none;}
.overlayboxoutput li {list-style: none;}
.overlayboxoutput .placeName {color: #000;font-size: 16px;font-weight: bold;margin-bottom: 8px;}
.overlayboxoutput .first {position: relative;width: 400px;height: 100%;margin-bottom: 8px;margin-right: 0px;}
.first .text {color: #000;font-weight: bold;}
.first .placeContext {position: absolute;width: 100%;bottom: 0;background: rgba(0, 0, 0, 0.4);padding: 7px 15px;font-size: 14px;}
.overlayboxoutput ul {width: 270px;height:100px;} 
.overlayboxoutput li {position: relative;margin-bottom: 2px;background: #2b2d36;padding: 5px 10px;color: #aaabaf;line-height: 1;}
.overlayboxoutput li span {display: inline-block;}
.overlayboxoutput li .title {font-size: 13px;}
.overlayboxoutput li .up {background-position: 0 -40px;}
.overlayboxoutput li .down {background-position: 0 -60px;}
.overlayboxoutput li .count {position: absolute;right: 15px;font-size: 15px;}
.overlayboxoutput li:hover {color: #000;background: #d24545;}
.overlayboxoutput li:hover .up {background-position: 0 0px;}
.overlayboxoutput li:hover .down {background-position: 0 -20px;}

#LoadImgOutput{
	position:relative;
}

.container{
	padding:0 0 0 0 ;
	z-index:5;
}
#imgDiv {
	height: 200px;
}
.outputfilebox{
	float:right;
	box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset;
	border-radius:5px;
}
#whiteCol{
	color:black;
}
#addr_catg_bt{
	display:inline;
	width:100%;
	margin-right:0;
}
#outputList li{
	background-color:transparent;
	color:black;
	padding-left:0;
}
.placeName i{
	float:right;
	color:rgba(0,0,0,.5);
}
.placeName a{
	float:right;
}
.footer{
	width:400px;
	border:1px solid rgba(0,0,0,.3);
	border-radius:5px;
	display:flex;
	text-align:center;
	color:black;
}
.footer a{
	padding:3% 0 3% 0;
	display:block;
	width:120px;
	color:black;
	margin: 0 auto;
} 
a:hover{
	cursor:pointer;
}
.footerchild{
	flex:1;
	border-right:1px solid rgba(0,0,0,.3);
}
.footerchild i{
	color:rgba(0,0,0,.5);
}
.third{
	border-right:none;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #FFFFFF;
  margin-left:190px;
 }
#close{
	float:right;
}