@charset "UTF-8";@charset "UTF-8";
body{
	color:black;
}
#mainContent{
  padding:0 0 0 0;
}
#navLogin{
	position:fixed;
	top:30px;
	right:50px;	
	z-index:5;
}
#navLogout{
	position:fixed;
	top:30px;
	right:50px;	 
	z-index:5;
}
#pinMenuR{ 
	position: fixed;
  bottom:50px;
  right:50px;
  border-radius : 30px;
  z-index: 1; 
  background: transparent;
  border-color:transparent;
}
#pinMenuL{ 
	position: fixed;
  bottom:50px;
  right:50px;
  border-radius : 30px;
  z-index: 1; 
  background: transparent;
  border-color:transparent;
}
#pinSelect{
	color:black;
}
@media (width: 573px){
	#searchInput{
		margin: 2% 2% 2% 0;
	}
}

.id-text-center{
	text-align:center;
}
#baccol{
	background-color: #FFFFFF;
} 
.col-form-label{
	color:black;
}
.modal-title{
	color:black;
}
.pt-5{
	padding:0px; 
}
.custom-menu{
	z-index:5;
}
#hiddenMenu{
	position: fixed;
  	bottom:50px;
  	right:130px;
  	z-index:2;
  	height:74px;
  	width:450px;
}
#toggleUl{
	position: fixed;
  	bottom:50px;
  	right:130px;
  	z-index:2;
  	height:74px;
  	width:0px;
}
#toggleLi{
	padding:1.5% 1.5% 1.5% 1.5%;
	width:20%;
	height:74px;
}
#toggleLi button{
	width:100%;
	height:100%;
}
#utilListDiv{
	position:fixed;
	bottom:100px;
	-webkit-transition: all 0.3s;
 	-o-transition: all 0.3s;
  	transition: all 0.3s;
	right:497px;
	width:76.5px;
	z-index:5;
	overflow:hidden;
	height:250px;
}
#utilListDiv.active{
	height:0px;
}
#utilList button{
	width:100%;
	margin:5% 0 5% 0;
}
#entListDiv{
	position:fixed;
	bottom:100px;
	-webkit-transition: all 0.3s;
 	-o-transition: all 0.3s;
  	transition: all 0.3s;
	right:408px;
	width:76.5px;
	z-index:5;
	overflow:hidden;
	height:250px;
}
#entListDiv.active{
	height:0px;
}
#entList button{
	width:100%;
	margin:5% 0 5% 0;
}
#hiddenSearch{
	margin: 3% 3% 3% 3%;
	padding:1.5% 1% 1.5% 1%;
	background-color: #808080;
	border-radius:5px;
}
#goBack{
	margin: 2% 2% 2% 2%;
}
#startLo{
	width:100%;
	margin: 1% 1% 1% 0;
	border-radius: 5px;
}
#endLo{
	width:100%;
	margin: 1% 1% 1% 0;
	border-radius: 5px;
}
#locationForSE{
	margin-top: 5%;
	background-color: white;
	width:230px;
	height: 300px;
	border-radius: 5px;
}
#find{
	margin: 3% 0 0 0;
}
#findIdPwd{
	color:rgb(48, 214, 219);
	text-decoration:underline;
}
#findIdPwd:hover{
	cursor:pointer;
}
#testHidden.overSearch{
	overflow-y:auto;
}
#outputList li button{
	margin-right:0.4rem;
}
.myLoc{
	position:fixed;
	right:50px;
	bottom:50px;
	z-index:5;
}