@charset "UTF-8";
p{
	font-family: 'Noto Sans KR', sans-serif;
	margin:0;
	padding:0;
}
p.title{
	font-weight:700;
}
#searchbar{
	min-width:335px;
	max-width:335px;
	background:#FFFFFF;
	-webkit-transition: all 0.3s;
 	-o-transition: all 0.3s;
  	transition: all 0.3s;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
	margin-left:15px;
	margin-top:15px;
	border-radius:10px;
	position:fixed;
	z-index:5;
	overflow:hidden;
}
#searchbar.active{
	margin-left:-350px;
}

#search::placeholder{
	color:gray;
}
.searchInput{
	display: flex;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1); 
    margin-top:1%;
    overflow:hidden;
    height:50px;
    border-radius:10px;
    overflow:hidden;  
}
#search{
	border:0;
	margin:0 0 0 13%;
	width:84%;
	height: auto;
}
#search:focus{
	outline:none;
}
#sbt{
	opacity: .5;
	position: absolute;
	height:100%;
}
#searchUL{
	list-style:none;
	padding:0;
	margin:0;
}
#searchUL.sideOver{
	overflow:auto;
}
#searchUL li{
	padding:1% 2% 1% 2%;
	margin:2% 3% 2% 3%;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2); 
	overflow:hidden;
    height:auto;
    border-radius:10px;
}
.searchImg{
	float:right;
	position: relative;
	width:5rem;
	height:3.7rem;
	border:1px solid gray;
}
.searchInfo{
	float:right;
}
.searchCat{
	color:gray;
}
#returnToSidebar{
	margin:0.3rem;
	float:right;
}
#initButton{
	margin:0.3rem;
	float:right;
}
.result{
	margin:1% 2% 1% 2%;
	font-weight:bold;
}
.CSList{
	list-style:none;
	font-size:0;
	margin:0;
	margin-top:5%;
	padding:0;
	height:auto;
	overflow:hidden;
	z-index:5;
}
.CSList li{
	margin-top:15px;
	font-size:13px;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	width:16%; 
	margin:2% 2% 4% 2%;
}
.CSList li span{
	display:block;
	text-align:center;
	vertical-align:middle;
	width:100%;
}
#textSpan{
	height:30px;
}
#ctg{
	padding:28% 0 26% 0;
	font-size:18px;
	vertical-align:middle;
	border-radius:25px;
	background:#007bff;
	color:white;
	-webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
#ctg:hover{
	-webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);   
    -o-transform:scale(1.15);
    transform:scale(1.15);
}
.smallCat{
	padding:28% 0 26% 0;
	font-size:18px;
	vertical-align:middle;
	border-radius:25px;
	background:#007bff;
	color:white;
	-webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.smallCat:hover{
	-webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);   
    -o-transform:scale(1.15);
    transform:scale(1.15);
}
.clickEVT.active{
	-webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);   
    -o-transform:scale(1.15);
    transform:scale(1.15);
}
.innerList{
	list-style:none;
	font-size:0;
	margin:0;
	margin-top:15px;
	padding:0;
	display:none;
}
.innerList li{
	display:block;
	text-align:center;
	width:100%;
	margin: 10% 0 10% 0;
	color: rgba(0,0,0,0.7);
}