@charset "UTF-8";
#searchbarSE{
	min-width:335px;
	max-width:335px;
	background:#FFFFFF;
	-webkit-transition: all 0.3s;
 	-o-transition: all 0.3s;
  	transition: all 0.3s;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
	margin-left:15px;
	margin-top:15px;
	border-radius:10px;
	position:fixed;
	z-index:5;
}
#searchbarSE.active{
	margin-left:-350px;
}
.searchInputSE{
	display: block;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2); 
    margin-top:1%;
   	overflow:hidden;
    height:auto;
    border-radius:10px;
}
#sbtSE{
	opacity: .5;
	position:absolute;
	top:0;
	height:100%;
	background:transparent;
	border:none;
	outline:none !important;
	margin:0 3% 0 3%;
}
.searchInputSE input{
	height:100%;
	border:0;
	margin:3% 2% 3% 2%;
	padding: 2% 2% 2% 2%; 
	width:84%;
	outline:none !important;
}
#startlo{
	width:100%;
	height:50%;
	position:relative;
	border-bottom:1px solid rgba(0,0,0,.2);
}
#endlo{
	width:100%;
	height:50%;
	position:relative;
}
#deleteandsubmit{
	display:block;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:18%;
}
#deleteandsubmit button{
	width:100%;
	height:50%;
	color:rgba(0,0,0,.5);
	outline:none !important;
}
#deleteandsubmit i{
	margin-left:auto; 
	margin-right:auto;
}
#deleteandsubmit button{
	height:50%;
	background:transparent;
	border:none;
	outline:none !important;
	margin:0 3% 0 3%;
}
#totalSE{
	position:relative;
	width:70%;
	margin:2% 0 2% 13%;
}
.Transportation{
	position: relative;
    margin:2% 2% 2% 2%;
    text-align:center;
}
.trans{
	display:inline-block;
	text-align:center;
	width:45%;
	border-radius:20px;
	cursor:pointer;
}
.trans.active{
	background:#0069d9;
	color:white;
}
#searchS:active { 
	outline: none !important;
	outline-color:red; 
}
#returnToSidebarSE{
	margin:0.3rem;
	float:right;
}